body {

	background-color: #63a7b8;
}

h1 {

	color: blue;

}

jumbotron text-center {

	color:red;

}

#entry {

	padding: 15px;
	background-color: green;
	margin: 10px; 
	border-radius: 10px;
}
#entry {
  padding: 15px;
  background-color: #91dbc2;
  transition: transform .2s; /* Animation */
  border-radius: 10px;
  margin: 15 auto;
}

#entry:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


#section_header{
	text-align: center;
	color: blue;
}

#navbar{
	text-align: center;
	background-color: lightblue;
	margin: 15px auto;
	padding: 5px;
}
#menu-item{
	color: black;
	transition: transform .2s;
}
#menu-item:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: #91dbc2;
  border-style: solid;
  border-color: #ad7b5e;
  border-radius: 5px;
}
#active-menu-item{
	color: black;
	transition: transform .3s;
    border-style: none;
    border-radius: 5px;
    background-color:#e3bfaa;
}
#active-menu-item:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: #91dbc2;
  border-style: solid;
  border-color: #ad7b5e;
  border-radius: 5px;
}

div.footer{
padding: 60px;
background-color: lightgray;
border-style:ridge none none none;
border-color: gray;

}
