body {

	background-color: #d9effa;
}

h1 {

	color: blue;

}

jumbotron text-center {

	color:red;

}

#entry {
  padding:30px;
  margin:40px;
  margin-right:40px;
  margin-left:60px;
  background-color: #fcefca;
  transition: transform .2s; /* Animation */
  border-radius: 10px;

}

#entry:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#entry-holder{
background-color:lightblue;

}
#media{
margin:40px;
}
#section_header{
	text-align: center;
	color: coral;
	padding: 60px;
}

#navbar{
    text-align: center;
	background-color: lightblue;
    margin:15px auto;
	padding: 5px;
}
#menu-item{
	color: black;
	transition: transform .2s;
}
#menu-item:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: #fcefca;
  border-style: solid;
  border-color: #ad7b5e;
  border-radius: 5px;
}
#active-menu-item{
	color: black;
	transition: transform .3s;
    border-style: none;
    border-radius: 5px;
    background-color:lightgray;
}
#active-menu-item:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: #fcefca;
  border-style: solid;
  border-color: #ad7b5e;
  border-radius: 5px;
}

footer{
text-align:center;
background-color: lightgray;
border-style:ridge none none none;
border-color: gray;
position: fixed;
left:0;
bottom:0;
width:100%;
}
